<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/js/jquery/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/js/jquery/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/js/jquery/demo/demo.css"/>
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="/js/jquery/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<table id="customerId"></table>
</body>
</html>